.slick-prev, .slick-next {
    border: none;
    background: none;
    color: transparent;
    position: absolute; 
}

.slick-dots {
    z-index: 9;
    position: absolute;
    top: 90%;
    left: 50%;
}

.slick-dots li {
    display: inline-block;
    margin-right:2.25rem;
    
}


.slick-dots li button {
    font-size: 0px;
    width: 1rem;
    height: 1rem;
    border: none;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 2px 5px black;
    border-radius: 50%;
    color: pink;
}
li.slick-active button {
    background: #8D0606;
}

@media screen and (min-width:800px){
    .slick-dots {
        top: 86%;
    }
}